body {
  background-color: rgb(42, 42, 42);
  padding: 0;
  margin: 0;
  text-align: center;
  min-width: 200px;
}

form {
  background-color: black;
  font-size: 1em;
  color: aliceblue;
  margin: auto;
  min-height: 500px;
}

form div {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div input, form div label{
  display: block;
  width: 25%;
  padding: 1em;
  font-size: 1em;
}

button{
  padding: .6em;
}

.profile {
  background-color: rgb(48, 48, 48);
  color: white;
}

.cart-details{
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4%;

}

.cart-details > h1 {
  font-size: 1.3em;
}

.cart{
  width: 40%;
  text-align: right;
}

.products {
  background: linear-gradient(to bottom left, blue, red);
  width: 96%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-box{
  /* background: linear-gradient(to bottom left, blue, red); */
  border:2px solid black;
  border-radius: 5em;
  margin: .5em;
  width: min(50%, 250px);
  /* min-width: 200px; */
  padding: 1em;
}

.product-box h5{
  font-size: 1.4em;
}

.product-box p{
  font-size: 1em;
}

.product-box button{
  font-size: 1em;
  background-color: rgb(48, 48, 48);
  color: white;
  border-radius: .5em;
  cursor: pointer;
}

.order-details{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(41, 41, 41);
}

.order-details p{
  text-align: center;
  width: 100%;
  font-size: 1rem;
}